@{
    ViewData["Title"] = "Добавление футболистов";
}
    <div class="text-center">
        <h1 class="display-4">Добавь футболиста</h1>
        <p>Просто укажи все его данные и нажми "отправить"</p>
    </div>

    <form asp-controller="Footballer"
          asp-action="AddFootballer"
          method="post"
          data-ajax="true"
          data-ajax-mode="replace"
          class="container p-3 footballer-form">
        <div class="mb-3">
            <label for="FirstName" class="form-label">Имя:</label>
            <input type="text" class="form-control" id="FirstName" name="FirstName" required>
        </div>
        <div class="mb-3">
            <label for="Surname" class="form-label">Фамилия:</label>
            <input type="text" class="form-control" id="Surname" name="Surname" required>
        </div>
        <div class="mb-3">
            <label class="form-check-label">Пол:</label>
            <div class="form-check">
                <input type="radio" class="form-check-input" id="male" name="IsMale" value="true" required>
                <label for="male" class="form-check-label">Мужской</label>
            </div>
            <div class="form-check">
                <input type="radio" class="form-check-input" id="female" name="IsMale" value="false">
                <label for="female" class="form-check-label">Женский</label>
            </div>
        </div>
        <div class="mb-3">
            <label for="Dob" class="form-label">Дата рождения:</label>
            <input type="date" class="form-control" id="Dob" name="Dob" required>
        </div>
        <div class="mb-3">
            <label for="Team" class="form-label">Название команды:</label>
            <input type="text" class="form-control ui-autocomplete-input" id="Team" name="Team" required>
        </div>
        <div class="mb-3">
            <label for="Country" class="form-label">Страна:</label>
            <select class="form-select" id="Country" name="Country">
                    @{
                        foreach (var country in Enum.GetValues(typeof(WebFootballers.Models.Utility.Country)))
                        {
                            <option value="@country.ToString()">@country.ToString()</option>
                        }
                    }
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Отправить</button>
    </form>

<div class="add-confirmation">
Футболист добавлен
</div>